@use "@/styles/abstracts/index.module" as *;

.LatestNewsArticle {
  padding: 14px 0;
  border-bottom: 1px solid $quaternary-bg-color;
  background-color: $secondary-bg-color;

  @include mobileLarge {
    max-width: 311px;
  }

  @include desktop {
    width: 281px;
  }

  &-Time {
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    color: $secondary-color;
    margin-bottom: 4px;
  }

  &-Title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    color: $primary-color;

    // display 2 lines of text with ... if overflowing
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
