@use "@/styles/abstracts/index.module" as *;

.LatestNews {
  height: 529px;
  padding: 0 16px;
  border-radius: 8px;
  width: 100%;

  background-color: $secondary-bg-color;

  grid-area: aside;

  @include mobileLarge {
    max-width: 343px;
  }

  @include desktopLarge {
    width: 321px;
  }

  &-Wrapper {
    padding: 16px 0;
    display: flex;
    align-items: center;
  }

  &-OuterRing {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(187, 30, 30, 0.24);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-InnerRing {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $accent-bg-color;
  }

  &-Title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-left: 10px;
  }

  &-Board {
    height: 429px;
    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    ::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  &-Link {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $secondary-color;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
