.Button {
  display: block;
  width: 95px;
  height: 40px;
  padding: 10px 16px;

  font-size: 15px;
  font-weight: 700;

  background-color: #bb1e1e;
  color: #ffffff;

  border-radius: 8px;
  border: none;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &_secondary {
    width: 70px;
    height: 40px;
    padding: 10px 20px;

    background-color: #ffffff;
    color: #1d1d1b;
  }

  &_tertiary {
    width: inherit;
    color: #ffffff;
    background: none;

    font-weight: 500;
    line-height: 21px;
    text-transform: none;
    text-decoration: underline;

    &:hover {
      box-shadow: none;
    }
  }
}
