@use "@/styles/abstracts/index.module" as *;

.Grid {
  display: grid;
  gap: 16px;

  @include mobileLarge {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }

  @include desktopLarge {
    grid-template-columns: repeat(4, 1fr);
  }
}
