$primary-color: #1d1d1b;
$secondary-color: #1e71bb;
$tertiary-color: #979797;
$accent-color: #bb1e1e;
$light-color: #ffffff;

// background
$primary-bg-color: #f2f2f2;
$secondary-bg-color: #ffffff;
$tertiary-bg-color: #8d8d8c;
$accent-bg-color: #bb1e1e;
$accent-bg-gradient-color: #b21919;
