@use "@/styles/abstracts/index.module" as *;

.HomepagePopup {
  display: none;

  @include desktopLarge {
    display: block;
    height: 0;

    background: linear-gradient(
      180deg,
      $accent-bg-color 71.29%,
      $accent-bg-gradient-color 99.95%
    );

    display: flex;
    justify-content: center;

    overflow: hidden;
    animation-name: slideIn;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    @keyframes slideIn {
      from {
        height: 0;
      }
      to {
        height: 60px;
      }
    }
  }

  &_overlay {
    width: 100%;

    z-index: 99;
    background-image: url("../../../public/assets/images/Fishnet.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  &-Inner {
    width: 1100px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-Container {
    display: flex;
    align-items: center;
    gap: 24px;

    &_gap {
      gap: 48px;
    }
  }

  &-Title {
    color: $light-color;
    font-weight: 500;
    line-height: 21px;
  }

  &-Subtitle {
    color: $light-color;
    font-size: 14px;
    line-height: 21px;
  }
}
