.Header {
  &-Inner {
    margin: 0 auto;
    padding: 24px 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      max-width: 1120px;
      padding: 35px 20px 28px;
      border-bottom: 1px solid #979797;

      flex-direction: row;
      gap: 44px;
    }
  }

  &-Wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      width: initial;
      margin-bottom: 0;
    }
  }

  &-Title {
    color: #1d1d1b;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;

    &_accent {
      color: #bb1e1e;
    }

    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 39px;
    }
  }
}

.Haburger {
  width: 24px;
  height: 20px;
  background-color: black;
}
