@use "@/styles/abstracts/index.module" as *;

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-Inner {
    width: 100%;
    padding: 24px 16px 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      max-width: 1100px;
      margin: 0 20px;
      padding: 35px 16px 28px;
      border-bottom: 1px solid $tertiary-color;

      flex-direction: row;
      gap: 44px;
    }
  }

  &-Wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_open {
      flex-direction: column-reverse;

      .Header-Title {
        font-size: 32px;
        line-height: 39px;
      }

      div {
        align-self: flex-end;
      }
    }

    @include tablet {
      width: initial;
      margin-bottom: 0;
    }
  }

  &-Title {
    color: $primary-color;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;

    &_accent {
      color: $accent-color;
    }

    @include tablet {
      font-size: 32px;
      line-height: 39px;
    }
  }

  &-Hamburger {
    @include tablet {
      display: none;
    }
  }

  &-Navbar {
    position: fixed;
    top: 203px;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    background-color: $primary-bg-color;

    @include tablet {
      display: none;
    }
  }
}
